.ProjectCard {
  display: flex;
  width: 444px;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 15px;
  border: solid black;
  background-color: grey;
  margin-bottom: 25px;
  margin-top: 25px;
}

.ProjectCard * {
  margin-bottom: 25px;
}
